:root{
    --bg: hsl(156, 42%, 18%);
    --h-text: hsl(212, 21%, 14%);
    --p-text: hsl(228, 12%, 48%);
    --card0bg: hsl(0, 0%, 100%);
    --bttn: hsl(158, 36%, 37%);
    --bttn-hover: hsl(156, 42%, 18%);
    --price: hsl(158, 36%, 37%);

}