@function rem($pixels, $context: 16){
    @return ($pixels / $context)* 1 rem;
};

@mixin flex_box($display, $direction, $wrap, $justify, $align){
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
};